-- SchÃ©ma initial d-intrants : tenancy Ã  deux niveaux (entreprises -> magasins).
-- Voir implementation plan Â§2. gen_random_uuid() est fourni nativement par les
-- projets Supabase (extension pgcrypto activÃ©e par dÃ©faut) : pas besoin de uuid-ossp.

create table public.entreprises (
  id uuid default gen_random_uuid() primary key,
  nom varchar(255) not null,
  adresse text,
  telephone varchar(30),
  devise varchar(10) default 'XOF',
  statut varchar(20) default 'actif' check (statut in ('actif', 'suspendu')),
  created_at timestamptz default now()
);

create table public.magasins (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  nom varchar(150) not null,
  adresse text,
  telephone varchar(30),
  statut varchar(20) default 'actif' check (statut in ('actif', 'archive')),
  created_at timestamptz default now()
);

create index idx_magasins_entreprise on public.magasins(entreprise_id);

-- LiÃ©e Ã  auth.users de Supabase, comme dans SIGGIE. magasin_id est nullable :
-- un admin_entreprise n'est rattachÃ© Ã  aucun magasin (vue consolidÃ©e), un gÃ©rant
-- est obligatoirement rattachÃ© Ã  exactement un magasin.
create table public.utilisateurs (
  id uuid references auth.users not null primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  magasin_id uuid references public.magasins(id) on delete set null,
  role varchar(20) not null check (role in ('admin_entreprise', 'gerant')),
  nom varchar(100),
  prenom varchar(100),
  telephone varchar(30),
  created_at timestamptz default now(),
  constraint role_magasin_coherence check (
    (role = 'gerant' and magasin_id is not null) or
    (role = 'admin_entreprise' and magasin_id is null)
  )
);

create index idx_utilisateurs_entreprise on public.utilisateurs(entreprise_id);
create index idx_utilisateurs_magasin on public.utilisateurs(magasin_id);

-- HypothÃ¨se par dÃ©faut : un seul admin_entreprise par entreprise (facile Ã 
-- assouplir plus tard si besoin â€” cf. plan Â§2 et rÃ©capitulatif des Ã©carts).
create unique index one_admin_entreprise_par_entreprise
  on public.utilisateurs (entreprise_id) where role = 'admin_entreprise';
-- Catalogue partagÃ© Ã  l'Ã©chelle de l'entreprise : mÃªme rÃ©fÃ©rentiel d'articles
-- pour tous les magasins d'une entreprise, le stock (table `stocks`, migration
-- suivante) Ã©tant lui propre Ã  chaque magasin.

create table public.categories (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  nom varchar(150) not null,
  description text,
  unique (entreprise_id, nom)
);

create index idx_categories_entreprise on public.categories(entreprise_id);

create table public.articles (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  categorie_id uuid references public.categories(id) on delete set null,
  reference varchar(60),
  designation varchar(255) not null,
  unite varchar(30) default 'unite',
  prix_vente numeric not null default 0,
  seuil_alerte numeric default 0,
  actif boolean default true,
  unique (entreprise_id, reference)
);

create index idx_articles_entreprise on public.articles(entreprise_id);
create index idx_articles_categorie on public.articles(categorie_id);

create table public.fournisseurs (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  nom varchar(200) not null,
  telephone varchar(30),
  adresse text
);

create index idx_fournisseurs_entreprise on public.fournisseurs(entreprise_id);
-- Stock = grand livre (mouvements_stock, append-only, source de vÃ©ritÃ©) + cache
-- (stocks, quantitÃ© courante par magasin+article), synchronisÃ©s par trigger.
-- C'est ce mÃ©canisme qui rend le stock "automatique" : toute Ã©criture applicative
-- passe par un insert dans mouvements_stock, jamais par un update direct de stocks.

create table public.stocks (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  article_id uuid references public.articles(id) on delete cascade not null,
  quantite numeric not null default 0,
  updated_at timestamptz default now(),
  unique (magasin_id, article_id)
);

create index idx_stocks_magasin on public.stocks(magasin_id);

create table public.mouvements_stock (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  article_id uuid references public.articles(id) on delete cascade not null,
  type_mouvement varchar(30) not null check (type_mouvement in (
    'entree_achat', 'sortie_vente', 'ajustement_positif', 'ajustement_negatif',
    'transfert_entree', 'transfert_sortie'
  )),
  quantite numeric not null check (quantite > 0),
  reference_id uuid,
  reference_type varchar(30),
  motif text,
  utilisateur_id uuid references public.utilisateurs(id),
  created_at timestamptz default now()
);

create index idx_mouvements_stock_magasin on public.mouvements_stock(magasin_id);
create index idx_mouvements_stock_article on public.mouvements_stock(article_id);

create or replace function public.sync_stock_apres_mouvement()
returns trigger language plpgsql as $$
declare
  v_delta numeric;
  v_nouveau numeric;
begin
  v_delta := case when new.type_mouvement in ('entree_achat', 'ajustement_positif', 'transfert_entree')
    then new.quantite else -new.quantite end;

  insert into public.stocks (magasin_id, article_id, quantite, updated_at)
  values (new.magasin_id, new.article_id, v_delta, now())
  on conflict (magasin_id, article_id)
  do update set quantite = public.stocks.quantite + v_delta, updated_at = now()
  returning quantite into v_nouveau;

  if v_nouveau < 0 then
    raise exception 'Stock insuffisant (rÃ©sultat nÃ©gatif : %)', v_nouveau;
  end if;

  return new;
end;
$$;

create trigger trg_sync_stock
  after insert on public.mouvements_stock
  for each row execute procedure public.sync_stock_apres_mouvement();
-- Clients : propres Ã  un magasin (contrairement aux fournisseurs, partagÃ©s Ã 
-- l'Ã©chelle de l'entreprise dans 01_catalogue.sql â€” un fournisseur livre
-- potentiellement plusieurs magasins, un client achÃ¨te dans un magasin donnÃ©).

create table public.clients (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  nom varchar(200) not null,
  telephone varchar(30),
  adresse text
);

create index idx_clients_magasin on public.clients(magasin_id);
create table public.ventes (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  client_id uuid references public.clients(id) on delete set null,
  numero varchar(40),
  date_vente timestamptz default now(),
  mode_paiement varchar(20) check (mode_paiement in ('comptant', 'credit', 'mixte')),
  montant_total numeric not null default 0,
  montant_paye numeric not null default 0,
  statut varchar(20) default 'validee' check (statut in ('brouillon', 'validee', 'annulee')),
  utilisateur_id uuid references public.utilisateurs(id)
);

create index idx_ventes_magasin on public.ventes(magasin_id);
create index idx_ventes_client on public.ventes(client_id);

create table public.lignes_vente (
  id uuid default gen_random_uuid() primary key,
  vente_id uuid references public.ventes(id) on delete cascade not null,
  magasin_id uuid references public.magasins(id) not null, -- dÃ©normalisÃ© pour RLS (Â§3)
  article_id uuid references public.articles(id) not null,
  quantite numeric not null check (quantite > 0),
  prix_unitaire numeric not null,
  cout_unitaire numeric not null, -- snapshot du coÃ»t au moment de la vente -> base de la marge
  montant_ligne numeric generated always as (quantite * prix_unitaire) stored
);

create index idx_lignes_vente_vente on public.lignes_vente(vente_id);
create index idx_lignes_vente_magasin on public.lignes_vente(magasin_id);
create index idx_lignes_vente_article on public.lignes_vente(article_id);
-- SymÃ©trique de 04_ventes.sql : achats/lignes_achat cÃ´tÃ© fournisseur
-- (prix_unitaire_achat au lieu de cout_unitaire â€” cf. plan Â§2).

create table public.achats (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  fournisseur_id uuid references public.fournisseurs(id) on delete set null,
  numero varchar(40),
  date_achat timestamptz default now(),
  mode_paiement varchar(20) check (mode_paiement in ('comptant', 'credit', 'mixte')),
  montant_total numeric not null default 0,
  montant_paye numeric not null default 0,
  statut varchar(20) default 'validee' check (statut in ('brouillon', 'validee', 'annulee')),
  utilisateur_id uuid references public.utilisateurs(id)
);

create index idx_achats_magasin on public.achats(magasin_id);
create index idx_achats_fournisseur on public.achats(fournisseur_id);

create table public.lignes_achat (
  id uuid default gen_random_uuid() primary key,
  achat_id uuid references public.achats(id) on delete cascade not null,
  magasin_id uuid references public.magasins(id) not null, -- dÃ©normalisÃ© pour RLS (Â§3)
  article_id uuid references public.articles(id) not null,
  quantite numeric not null check (quantite > 0),
  prix_unitaire_achat numeric not null,
  montant_ligne numeric generated always as (quantite * prix_unitaire_achat) stored
);

create index idx_lignes_achat_achat on public.lignes_achat(achat_id);
create index idx_lignes_achat_magasin on public.lignes_achat(magasin_id);
create index idx_lignes_achat_article on public.lignes_achat(article_id);
create table public.creances (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  client_id uuid references public.clients(id) not null,
  vente_id uuid references public.ventes(id) on delete set null,
  montant_initial numeric not null,
  montant_restant numeric not null,
  date_echeance date,
  statut varchar(20) default 'en_cours' check (statut in ('en_cours', 'soldee', 'en_retard'))
);

create index idx_creances_magasin on public.creances(magasin_id);
create index idx_creances_client on public.creances(client_id);

-- SymÃ©trique de creances, cÃ´tÃ© fournisseur.
create table public.dettes (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  fournisseur_id uuid references public.fournisseurs(id) not null,
  achat_id uuid references public.achats(id) on delete set null,
  montant_initial numeric not null,
  montant_restant numeric not null,
  date_echeance date,
  statut varchar(20) default 'en_cours' check (statut in ('en_cours', 'soldee', 'en_retard'))
);

create index idx_dettes_magasin on public.dettes(magasin_id);
create index idx_dettes_fournisseur on public.dettes(fournisseur_id);
create table public.comptes_tresorerie (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  nom varchar(150) not null,
  type_compte varchar(20) not null default 'caisse' check (type_compte in ('caisse', 'banque', 'mobile_money')),
  solde_initial numeric default 0
);

create index idx_comptes_tresorerie_magasin on public.comptes_tresorerie(magasin_id);

create table public.journal_tresorerie (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) not null, -- dÃ©normalisÃ© pour RLS (Â§3)
  compte_tresorerie_id uuid references public.comptes_tresorerie(id) on delete restrict not null,
  type_mouvement varchar(10) not null check (type_mouvement in ('entree', 'sortie')),
  montant numeric not null check (montant > 0),
  categorie varchar(30), -- vente | reglement_creance | reglement_dette | achat | charge | virement | autre
  reference_id uuid,
  reference_type varchar(30),
  motif text,
  date_mouvement timestamptz default now(),
  utilisateur_id uuid references public.utilisateurs(id)
);

create index idx_journal_tresorerie_magasin on public.journal_tresorerie(magasin_id);
create index idx_journal_tresorerie_compte on public.journal_tresorerie(compte_tresorerie_id);

-- Nouveau vs SIGGIE â€” nÃ©cessaire pour calculer un rÃ©sultat net (marge brute - charges),
-- pas seulement une marge brute (cf. plan Â§2/Â§6).
create table public.charges (
  id uuid default gen_random_uuid() primary key,
  magasin_id uuid references public.magasins(id) on delete cascade not null,
  compte_tresorerie_id uuid references public.comptes_tresorerie(id),
  categorie varchar(50), -- loyer, salaires, electricite, transport, autre
  libelle varchar(200),
  montant numeric not null,
  date_charge date not null,
  recurrente boolean default false,
  utilisateur_id uuid references public.utilisateurs(id)
);

create index idx_charges_magasin on public.charges(magasin_id);
-- Fonctions SECURITY DEFINER rÃ©utilisÃ©es par toutes les policies RLS (09_rls_policies.sql).
-- Contrairement Ã  SIGGIE, qui ne restreint les rÃ´les que cÃ´tÃ© serveur (actions.ts),
-- "l'admin d'entreprise ne peut pas Ã©crire" est ici une rÃ¨gle mÃ©tier dure imposÃ©e
-- aussi en base â€” dÃ©fense en profondeur (cf. plan Â§3).

create or replace function public.current_entreprise_id() returns uuid
language sql security definer stable set search_path = public as $$
  select entreprise_id from public.utilisateurs where id = auth.uid()
$$;

create or replace function public.current_magasin_id() returns uuid
language sql security definer stable set search_path = public as $$
  select magasin_id from public.utilisateurs where id = auth.uid()
$$;

create or replace function public.current_role() returns text
language sql security definer stable set search_path = public as $$
  select role from public.utilisateurs where id = auth.uid()
$$;

-- Lecture : admin_entreprise voit tous les magasins de son entreprise ; gÃ©rant
-- seulement le sien.
create or replace function public.can_read_magasin(p_magasin_id uuid) returns boolean
language sql security definer stable set search_path = public as $$
  select case public.current_role()
    when 'admin_entreprise' then exists (
      select 1 from public.magasins m
      where m.id = p_magasin_id and m.entreprise_id = public.current_entreprise_id())
    when 'gerant' then p_magasin_id = public.current_magasin_id()
    else false
  end
$$;

-- Ã‰criture : gÃ©rant uniquement, et seulement sur son propre magasin. admin_entreprise
-- ne passe jamais, quel que soit le magasin visÃ©.
create or replace function public.can_write_magasin(p_magasin_id uuid) returns boolean
language sql security definer stable set search_path = public as $$
  select public.current_role() = 'gerant' and p_magasin_id = public.current_magasin_id()
$$;
-- Policies RLS. Gabarit Ã  4 policies (select/insert/update/delete) pour chaque
-- table opÃ©rationnelle rattachÃ©e Ã  un magasin, catalogue partagÃ© Ã  l'Ã©chelle de
-- l'entreprise, et lecture seule sur entreprises/magasins/utilisateurs â€” aucune
-- policy d'Ã©criture n'y est exposÃ©e Ã  `authenticated` : toute Ã©criture sur ces
-- 3 tables passe exclusivement par le client service-role de /admin (voir
-- utils/supabase/admin.ts), ce qui garantit au niveau base de donnÃ©es, et pas
-- seulement par masquage d'interface, que seul l'admin systÃ¨me crÃ©e/supprime
-- des comptes ou des entreprises (cf. plan Â§3/Â§4).

-- entreprises / magasins / utilisateurs : lecture seule, dans leur propre pÃ©rimÃ¨tre.
alter table public.entreprises enable row level security;
alter table public.magasins enable row level security;
alter table public.utilisateurs enable row level security;

create policy "select_entreprises" on public.entreprises for select
  using (id = public.current_entreprise_id());

create policy "select_magasins" on public.magasins for select
  using (entreprise_id = public.current_entreprise_id());

create policy "select_utilisateurs" on public.utilisateurs for select
  using (id = auth.uid());

-- Catalogue partagÃ© Ã  l'Ã©chelle entreprise : lecture par les deux rÃ´les,
-- Ã©criture par n'importe quel gÃ©rant de l'entreprise (le catalogue n'est pas
-- propre Ã  un magasin, contrairement au stock).
alter table public.categories enable row level security;
alter table public.articles enable row level security;
alter table public.fournisseurs enable row level security;

create policy "select_categories" on public.categories for select
  using (entreprise_id = public.current_entreprise_id());
create policy "write_categories_insert" on public.categories for insert
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_categories_update" on public.categories for update
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant')
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_categories_delete" on public.categories for delete
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');

create policy "select_articles" on public.articles for select
  using (entreprise_id = public.current_entreprise_id());
create policy "write_articles_insert" on public.articles for insert
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_articles_update" on public.articles for update
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant')
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_articles_delete" on public.articles for delete
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');

create policy "select_fournisseurs" on public.fournisseurs for select
  using (entreprise_id = public.current_entreprise_id());
create policy "write_fournisseurs_insert" on public.fournisseurs for insert
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_fournisseurs_update" on public.fournisseurs for update
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant')
  with check (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');
create policy "write_fournisseurs_delete" on public.fournisseurs for delete
  using (entreprise_id = public.current_entreprise_id() and public.current_role() = 'gerant');

-- Tables opÃ©rationnelles rattachÃ©es Ã  un magasin : gabarit identique pour
-- chacune (select via can_read_magasin, Ã©criture via can_write_magasin).
do $$
declare
  t text;
  tables text[] := array[
    'clients', 'stocks', 'mouvements_stock',
    'ventes', 'lignes_vente', 'achats', 'lignes_achat',
    'creances', 'dettes',
    'comptes_tresorerie', 'journal_tresorerie', 'charges'
  ];
begin
  foreach t in array tables loop
    execute format('alter table public.%I enable row level security', t);

    execute format(
      'create policy %I on public.%I for select using (public.can_read_magasin(magasin_id))',
      'select_' || t, t
    );
    execute format(
      'create policy %I on public.%I for insert with check (public.can_write_magasin(magasin_id))',
      'insert_' || t, t
    );
    execute format(
      'create policy %I on public.%I for update using (public.can_write_magasin(magasin_id)) with check (public.can_write_magasin(magasin_id))',
      'update_' || t, t
    );
    execute format(
      'create policy %I on public.%I for delete using (public.can_write_magasin(magasin_id))',
      'delete_' || t, t
    );
  end loop;
end;
$$;
-- RPC plpgsql pour les Ã©critures multi-tables atomiques (plan Â§7 phase 5) :
-- une vente touche ventes + lignes_vente + mouvements_stock (+ creances +
-- journal_tresorerie selon le mode de paiement) â€” un enchaÃ®nement de .insert()
-- sÃ©quentiels cÃ´tÃ© client laisserait des Ã©critures partielles en cas d'Ã©chec
-- Ã  mi-chemin (ex: stock insuffisant dÃ©tectÃ© aprÃ¨s la ligne 3 sur 5). Le corps
-- d'une fonction plpgsql s'exÃ©cute dans une seule transaction implicite : toute
-- exception (dont celle levÃ©e par le trigger sync_stock_apres_mouvement en cas
-- de stock insuffisant) annule l'ensemble.
--
-- security invoker (par dÃ©faut) : la fonction s'exÃ©cute avec les droits de
-- l'appelant, donc les policies RLS s'appliquent normalement Ã  chaque insert
-- (can_write_magasin) â€” la vÃ©rification explicite en tÃªte de fonction est une
-- dÃ©fense en profondeur qui produit un message d'erreur clair avant d'aller
-- plus loin, plutÃ´t que de laisser Ã©chouer sur la premiÃ¨re policy venue.

create or replace function public.creer_vente(
  p_magasin_id uuid,
  p_client_id uuid,
  p_mode_paiement varchar,
  p_montant_paye numeric,
  p_lignes jsonb -- [{ "article_id": uuid, "quantite": numeric, "prix_unitaire": numeric }, ...]
) returns uuid
language plpgsql as $$
declare
  v_vente_id uuid;
  v_montant_total numeric := 0;
  v_montant_restant numeric;
  v_ligne jsonb;
  v_cout_unitaire numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  if not public.can_write_magasin(p_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if jsonb_array_length(p_lignes) = 0 then
    raise exception 'Une vente doit comporter au moins une ligne';
  end if;

  select coalesce(sum((l->>'quantite')::numeric * (l->>'prix_unitaire')::numeric), 0)
  into v_montant_total
  from jsonb_array_elements(p_lignes) l;

  insert into public.ventes (magasin_id, client_id, mode_paiement, montant_total, montant_paye, statut, utilisateur_id)
  values (p_magasin_id, p_client_id, p_mode_paiement, v_montant_total, coalesce(p_montant_paye, 0), 'validee', v_utilisateur_id)
  returning id into v_vente_id;

  for v_ligne in select * from jsonb_array_elements(p_lignes) loop
    -- CoÃ»t moyen pondÃ©rÃ© : moyenne des prix d'achat historiques de cet article
    -- dans ce magasin (aucun champ "coÃ»t" dÃ©diÃ© sur `articles` dans ce schÃ©ma,
    -- cf. plan Â§2 â€” la marge se calcule Ã  partir de cet historique d'achats).
    select coalesce(avg(la.prix_unitaire_achat), 0) into v_cout_unitaire
    from public.lignes_achat la
    where la.article_id = (v_ligne->>'article_id')::uuid
      and la.magasin_id = p_magasin_id;

    insert into public.lignes_vente (vente_id, magasin_id, article_id, quantite, prix_unitaire, cout_unitaire)
    values (
      v_vente_id, p_magasin_id, (v_ligne->>'article_id')::uuid,
      (v_ligne->>'quantite')::numeric, (v_ligne->>'prix_unitaire')::numeric, v_cout_unitaire
    );

    -- LÃ¨ve une exception (et annule toute la transaction) si le stock devient nÃ©gatif.
    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (p_magasin_id, (v_ligne->>'article_id')::uuid, 'sortie_vente', (v_ligne->>'quantite')::numeric, v_vente_id, 'vente', v_utilisateur_id);
  end loop;

  v_montant_restant := v_montant_total - coalesce(p_montant_paye, 0);

  if p_mode_paiement in ('credit', 'mixte') and v_montant_restant > 0 then
    insert into public.creances (magasin_id, client_id, vente_id, montant_initial, montant_restant, statut)
    values (p_magasin_id, p_client_id, v_vente_id, v_montant_restant, v_montant_restant, 'en_cours');
  end if;

  if coalesce(p_montant_paye, 0) > 0 then
    -- Encaisse sur le premier compte "caisse" du magasin par dÃ©faut (choix du
    -- compte prÃ©cis laissÃ© Ã  une Ã©volution ultÃ©rieure du formulaire de vente).
    insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
    select p_magasin_id, ct.id, 'entree', p_montant_paye, 'vente', v_vente_id, 'vente', 'Encaissement vente', v_utilisateur_id
    from public.comptes_tresorerie ct
    where ct.magasin_id = p_magasin_id
    order by (ct.type_compte = 'caisse') desc, ct.id
    limit 1;
  end if;

  return v_vente_id;
end;
$$;

-- SymÃ©trique de creer_vente, cÃ´tÃ© achats fournisseur.
create or replace function public.creer_achat(
  p_magasin_id uuid,
  p_fournisseur_id uuid,
  p_mode_paiement varchar,
  p_montant_paye numeric,
  p_lignes jsonb -- [{ "article_id": uuid, "quantite": numeric, "prix_unitaire_achat": numeric }, ...]
) returns uuid
language plpgsql as $$
declare
  v_achat_id uuid;
  v_montant_total numeric := 0;
  v_montant_restant numeric;
  v_ligne jsonb;
  v_utilisateur_id uuid := auth.uid();
begin
  if not public.can_write_magasin(p_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if jsonb_array_length(p_lignes) = 0 then
    raise exception 'Un achat doit comporter au moins une ligne';
  end if;

  select coalesce(sum((l->>'quantite')::numeric * (l->>'prix_unitaire_achat')::numeric), 0)
  into v_montant_total
  from jsonb_array_elements(p_lignes) l;

  insert into public.achats (magasin_id, fournisseur_id, mode_paiement, montant_total, montant_paye, statut, utilisateur_id)
  values (p_magasin_id, p_fournisseur_id, p_mode_paiement, v_montant_total, coalesce(p_montant_paye, 0), 'validee', v_utilisateur_id)
  returning id into v_achat_id;

  for v_ligne in select * from jsonb_array_elements(p_lignes) loop
    insert into public.lignes_achat (achat_id, magasin_id, article_id, quantite, prix_unitaire_achat)
    values (
      v_achat_id, p_magasin_id, (v_ligne->>'article_id')::uuid,
      (v_ligne->>'quantite')::numeric, (v_ligne->>'prix_unitaire_achat')::numeric
    );

    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (p_magasin_id, (v_ligne->>'article_id')::uuid, 'entree_achat', (v_ligne->>'quantite')::numeric, v_achat_id, 'achat', v_utilisateur_id);
  end loop;

  v_montant_restant := v_montant_total - coalesce(p_montant_paye, 0);

  if p_mode_paiement in ('credit', 'mixte') and v_montant_restant > 0 then
    insert into public.dettes (magasin_id, fournisseur_id, achat_id, montant_initial, montant_restant, statut)
    values (p_magasin_id, p_fournisseur_id, v_achat_id, v_montant_restant, v_montant_restant, 'en_cours');
  end if;

  if coalesce(p_montant_paye, 0) > 0 then
    insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
    select p_magasin_id, ct.id, 'sortie', p_montant_paye, 'achat', v_achat_id, 'achat', 'Paiement achat', v_utilisateur_id
    from public.comptes_tresorerie ct
    where ct.magasin_id = p_magasin_id
    order by (ct.type_compte = 'caisse') desc, ct.id
    limit 1;
  end if;

  return v_achat_id;
end;
$$;
-- RPC pour les rÃ¨glements de crÃ©ances/dettes : mÃªme logique d'atomicitÃ© que
-- creer_vente/creer_achat (migration 10) â€” la mise Ã  jour du solde et
-- l'Ã©criture de trÃ©sorerie doivent rÃ©ussir ou Ã©chouer ensemble, jamais l'une
-- sans l'autre (sinon un solde soldÃ© sans encaissement, ou l'inverse).
-- `for update` verrouille la ligne crÃ©ance/dette le temps de la transaction
-- pour Ã©viter un double rÃ¨glement concurrent qui ferait passer le solde en
-- nÃ©gatif (deux caissiers rÃ©glant la mÃªme crÃ©ance au mÃªme instant).

create or replace function public.regler_creance(
  p_creance_id uuid,
  p_montant numeric,
  p_compte_tresorerie_id uuid
) returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, montant_restant into v_magasin_id, v_restant
  from public.creances where id = p_creance_id
  for update;

  if v_magasin_id is null then
    raise exception 'CrÃ©ance introuvable';
  end if;

  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if p_montant <= 0 or p_montant > v_restant then
    raise exception 'Montant de rÃ¨glement invalide (reste dÃ» : %)', v_restant;
  end if;

  update public.creances
  set montant_restant = v_restant - p_montant,
      statut = case when v_restant - p_montant <= 0 then 'soldee' else 'en_cours' end
  where id = p_creance_id;

  insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
  values (v_magasin_id, p_compte_tresorerie_id, 'entree', p_montant, 'reglement_creance', p_creance_id, 'creance', 'RÃ¨glement crÃ©ance', v_utilisateur_id);
end;
$$;

create or replace function public.regler_dette(
  p_dette_id uuid,
  p_montant numeric,
  p_compte_tresorerie_id uuid
) returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, montant_restant into v_magasin_id, v_restant
  from public.dettes where id = p_dette_id
  for update;

  if v_magasin_id is null then
    raise exception 'Dette introuvable';
  end if;

  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if p_montant <= 0 or p_montant > v_restant then
    raise exception 'Montant de rÃ¨glement invalide (reste dÃ» : %)', v_restant;
  end if;

  update public.dettes
  set montant_restant = v_restant - p_montant,
      statut = case when v_restant - p_montant <= 0 then 'soldee' else 'en_cours' end
  where id = p_dette_id;

  insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
  values (v_magasin_id, p_compte_tresorerie_id, 'sortie', p_montant, 'reglement_dette', p_dette_id, 'dette', 'RÃ¨glement dette', v_utilisateur_id);
end;
$$;
-- Fonctions d'agrÃ©gation pour le dashboard et les pages Comparatif/RentabilitÃ©
-- (plan Â§6/phase 7). `language sql` sans `security definer` : ces fonctions
-- s'exÃ©cutent avec les droits de l'appelant, donc les policies RLS de
-- can_read_magasin s'appliquent normalement â€” un gÃ©rant n'agrÃ¨ge que son
-- magasin, un admin_entreprise peut agrÃ©ger tous les magasins de son
-- entreprise (comparatif_magasins), jamais ceux d'une autre entreprise.

-- Ã‰volution des ventes sur une pÃ©riode, avec les jours/semaines/mois sans
-- vente Ã  zÃ©ro (generate_series en left join) pour ne pas laisser de trou
-- dans le graphique.
create or replace function public.ventes_par_periode(
  p_magasin_id uuid,
  p_date_debut date,
  p_date_fin date,
  p_granularite text default 'jour' -- 'jour' | 'semaine' | 'mois'
) returns table (periode date, total numeric)
language sql stable as $$
  with bornes as (
    select
      (case p_granularite when 'mois' then '1 month' when 'semaine' then '1 week' else '1 day' end)::interval as pas,
      (case p_granularite when 'mois' then date_trunc('month', p_date_debut) when 'semaine' then date_trunc('week', p_date_debut) else p_date_debut::timestamptz end) as debut,
      (case p_granularite when 'mois' then date_trunc('month', p_date_fin) when 'semaine' then date_trunc('week', p_date_fin) else p_date_fin::timestamptz end) as fin
  ),
  series as (
    select generate_series(b.debut, b.fin, b.pas)::date as periode
    from bornes b
  ),
  ventes_aggregees as (
    select
      (case p_granularite
        when 'mois' then date_trunc('month', v.date_vente)
        when 'semaine' then date_trunc('week', v.date_vente)
        else date_trunc('day', v.date_vente)
      end)::date as periode,
      sum(v.montant_total) as total
    from public.ventes v
    where v.magasin_id = p_magasin_id
      and v.statut = 'validee'
      and v.date_vente >= p_date_debut
      and v.date_vente < (p_date_fin + interval '1 day')
    group by 1
  )
  select s.periode, coalesce(va.total, 0) as total
  from series s
  left join ventes_aggregees va on va.periode = s.periode
  order by s.periode
$$;

-- RentabilitÃ© globale d'un magasin sur une pÃ©riode : marge_brute = ca - coÃ»t
-- (cout_unitaire snapshottÃ© Ã  la vente, cf. migration 04/10), resultat_net =
-- marge_brute - charges de la pÃ©riode.
create or replace function public.rentabilite_periode(
  p_magasin_id uuid,
  p_date_debut date,
  p_date_fin date
) returns table (ca numeric, cout numeric, marge_brute numeric, charges numeric, resultat_net numeric)
language sql stable as $$
  with ventes_periode as (
    select lv.quantite, lv.prix_unitaire, lv.cout_unitaire
    from public.lignes_vente lv
    join public.ventes v on v.id = lv.vente_id
    where lv.magasin_id = p_magasin_id
      and v.statut = 'validee'
      and v.date_vente >= p_date_debut
      and v.date_vente < (p_date_fin + interval '1 day')
  ),
  agg as (
    select
      coalesce(sum(quantite * prix_unitaire), 0) as ca,
      coalesce(sum(quantite * cout_unitaire), 0) as cout
    from ventes_periode
  ),
  charges_periode as (
    select coalesce(sum(montant), 0) as total
    from public.charges
    where magasin_id = p_magasin_id
      and date_charge >= p_date_debut
      and date_charge <= p_date_fin
  )
  select agg.ca, agg.cout, (agg.ca - agg.cout) as marge_brute, cp.total as charges,
    (agg.ca - agg.cout - cp.total) as resultat_net
  from agg, charges_periode cp
$$;

-- Marge par article sur une pÃ©riode (paramÃ©trable par magasin) â€” permet de
-- rÃ©pondre Ã  "quels articles rapportent le plus" plutÃ´t qu'un seul chiffre global.
create or replace function public.rentabilite_par_article(
  p_magasin_id uuid,
  p_date_debut date,
  p_date_fin date
) returns table (article_id uuid, designation text, quantite numeric, ca numeric, cout numeric, marge numeric)
language sql stable as $$
  select
    a.id as article_id,
    a.designation,
    sum(lv.quantite) as quantite,
    sum(lv.quantite * lv.prix_unitaire) as ca,
    sum(lv.quantite * lv.cout_unitaire) as cout,
    sum(lv.quantite * (lv.prix_unitaire - lv.cout_unitaire)) as marge
  from public.lignes_vente lv
  join public.ventes v on v.id = lv.vente_id
  join public.articles a on a.id = lv.article_id
  where lv.magasin_id = p_magasin_id
    and v.statut = 'validee'
    and v.date_vente >= p_date_debut
    and v.date_vente < (p_date_fin + interval '1 day')
  group by a.id, a.designation
  order by marge desc
$$;

-- Comparatif entre magasins d'une mÃªme entreprise â€” rÃ©servÃ© Ã  l'usage
-- admin_entreprise cÃ´tÃ© app, mais la RLS (can_read_magasin) l'autoriserait
-- aussi pour un gÃ©rant qui n'obtiendrait que sa propre ligne.
create or replace function public.comparatif_magasins(
  p_entreprise_id uuid,
  p_date_debut date,
  p_date_fin date
) returns table (magasin_id uuid, magasin_nom text, ca numeric, marge_brute numeric)
language sql stable as $$
  select
    m.id as magasin_id,
    m.nom as magasin_nom,
    coalesce(sum(lv.quantite * lv.prix_unitaire), 0) as ca,
    coalesce(sum(lv.quantite * (lv.prix_unitaire - lv.cout_unitaire)), 0) as marge_brute
  from public.magasins m
  left join public.ventes v on v.magasin_id = m.id
    and v.statut = 'validee'
    and v.date_vente >= p_date_debut
    and v.date_vente < (p_date_fin + interval '1 day')
  left join public.lignes_vente lv on lv.vente_id = v.id
  where m.entreprise_id = p_entreprise_id
  group by m.id, m.nom
  order by m.nom
$$;
-- Facturation de la plateforme d-intrants elle-mÃªme (paiement des abonnements
-- clients), PAS un modÃ¨le BYOK/marketplace : un seul compte Chariow / Moneroo /
-- Bictorys pour toute la plateforme, clÃ© API en variable d'environnement
-- (voir lib/abonnements/providers/*.ts) â€” inutile de chiffrer des identifiants
-- par entreprise ici.

-- Palier d'abonnement de chaque entreprise + date d'expiration de la pÃ©riode
-- payÃ©e en cours. `palier` dÃ©termine `magasins_max` via paliers_abonnement ;
-- l'entreprise dÃ©marre en 'standard' non payÃ© (abonnement_expire_le null) â€”
-- creerMagasin() applique dÃ©jÃ  la limite du palier standard (1 magasin) dÃ¨s
-- la crÃ©ation, cf. entreprises/actions.ts.
alter table public.entreprises
  add column palier varchar(20) not null default 'standard'
    check (palier in ('standard', 'medium', 'premium')),
  add column abonnement_expire_le timestamptz;

-- Table de rÃ©fÃ©rence (magasins_max, prix) plutÃ´t qu'une constante dupliquÃ©e
-- en dur en base ET dans le code : lib/abonnements/paliers.ts reste la seule
-- source de vÃ©ritÃ© cÃ´tÃ© application, cette table sert de garde-fou lisible
-- en SQL (support, debug) et pourrait un jour piloter l'UI d'admin.
create table public.paliers_abonnement (
  code varchar(20) primary key,
  nom varchar(50) not null,
  magasins_max integer not null,
  prix_mensuel_fcfa integer not null
);

insert into public.paliers_abonnement (code, nom, magasins_max, prix_mensuel_fcfa) values
  ('standard', 'Standard', 1, 5000),
  ('medium', 'MÃ©dium', 2, 7500),
  ('premium', 'Premium', 3, 10000);

-- Historique des paiements d'abonnement, tous providers confondus. Une ligne
-- par tentative de paiement (pas par mois couvert) : periode_debut/periode_fin
-- dÃ©crivent la pÃ©riode crÃ©ditÃ©e une fois `statut = 'paye'`.
create table public.abonnements (
  id uuid default gen_random_uuid() primary key,
  entreprise_id uuid references public.entreprises(id) on delete cascade not null,
  palier varchar(20) not null references public.paliers_abonnement(code),
  duree_mois integer not null check (duree_mois in (1, 6, 12)),
  montant_fcfa integer not null,
  provider varchar(20) not null check (provider in ('chariow', 'moneroo', 'bictorys')),
  provider_reference varchar(255),
  statut varchar(20) not null default 'en_attente' check (statut in ('en_attente', 'paye', 'echoue')),
  periode_debut timestamptz,
  periode_fin timestamptz,
  metadata jsonb,
  created_at timestamptz default now(),
  paye_at timestamptz
);

create index idx_abonnements_entreprise on public.abonnements(entreprise_id);
create index idx_abonnements_statut on public.abonnements(statut);

-- Idempotence au niveau base : un mÃªme paiement provider ne peut crÃ©diter
-- qu'une seule ligne (protÃ¨ge contre une course cron â†” webhook â†” retour
-- utilisateur qui rÃ©concilieraient la mÃªme vente en parallÃ¨le).
create unique index uq_abonnements_provider_reference
  on public.abonnements(provider, provider_reference) where provider_reference is not null;

-- RLS : lecture seule dans son pÃ©rimÃ¨tre entreprise, comme entreprises/magasins/
-- utilisateurs (09_rls_policies.sql). Toute Ã©criture (dÃ©marrage de paiement,
-- webhook, cron de rÃ©conciliation) passe par le client service-role â€” jamais
-- par le client authentifiÃ©.
alter table public.abonnements enable row level security;
create policy "select_abonnements" on public.abonnements for select
  using (entreprise_id = public.current_entreprise_id());

alter table public.paliers_abonnement enable row level security;
create policy "select_paliers_abonnement" on public.paliers_abonnement for select using (true);
-- Paiement public avant crÃ©ation de compte (page /tarifs, visiteur anonyme) :
-- rÃ©utilise la table abonnements existante plutÃ´t qu'une table parallÃ¨le avec
-- ses propres webhooks/reconciliation. Une ligne Ã  entreprise_id null qui passe
-- Ã  statut='paye' est une "demande" Ã  traiter par l'admin systÃ¨me â€” cf.
-- app/tarifs/actions.ts et app/admin/(protected)/demandes/. Le nom d'entreprise
-- demandÃ© et les coordonnÃ©es de contact vont dans `metadata` (dÃ©jÃ  un sac JSON
-- libre pour cette table, cf. 13_abonnements.sql), pas de nouvelle colonne.
alter table public.abonnements
  alter column entreprise_id drop not null;

-- La policy RLS existante (entreprise_id = current_entreprise_id()) exclut dÃ©jÃ 
-- naturellement les lignes Ã  entreprise_id null pour tout utilisateur
-- authentifiÃ© (comparaison Ã  NULL = NULL, jamais vraie) : aucune demande en
-- attente n'est visible depuis un compte entreprise, seul le client
-- service-role (admin) peut les lire.
-- Miroir de la table du mÃªme nom cÃ´tÃ© SIGGIE (chariow_produits), mais keyÃ©e par
-- palierÃ—durÃ©e plutÃ´t que par montant : d-intrants a 3 paliers Ã— 3 durÃ©es (9
-- produits Chariow possibles) plutÃ´t qu'un tarif unique par montant. Permet Ã 
-- l'admin systÃ¨me de faire pointer un palier/durÃ©e vers un autre product_id
-- Chariow sans redÃ©ploiement (cf. lib/abonnements/providers/chariow.ts, qui lit
-- cette table en prioritÃ© et retombe sur les variables d'env CHARIOW_PRODUCT_*
-- si la ligne est absente).
create table public.chariow_produits (
  palier varchar(20) not null check (palier in ('standard', 'medium', 'premium')),
  duree_mois integer not null check (duree_mois in (1, 6, 12)),
  product_id varchar(255) not null,
  updated_at timestamptz default now(),
  primary key (palier, duree_mois)
);

-- Ã‰criture rÃ©servÃ©e au service-role (admin), comme entreprises/utilisateurs :
-- aucune policy insert/update/delete exposÃ©e Ã  authenticated. Lecture publique
-- inutile ici (jamais consultÃ©e depuis un client authentifiÃ©), donc RLS activÃ©e
-- sans aucune policy select non plus.
alter table public.chariow_produits enable row level security;
-- Fiche d'information entreprise : dÃ©nomination et devise existent dÃ©jÃ 
-- (nom, devise), adresse/telephone aussi â€” il ne manque que le contact e-mail,
-- l'identification fiscale (NINEA/RCCM ou Ã©quivalent selon le pays) et le logo.
alter table public.entreprises
  add column if not exists email varchar(255),
  add column if not exists identification varchar(100),
  add column if not exists logo_url text;

-- Ã‰criture via RPC dÃ©diÃ©e plutÃ´t qu'une policy RLS UPDATE sur entreprises :
-- une policy RLS ne peut restreindre QUE les lignes visibles, pas les colonnes
-- modifiables â€” un admin_entreprise ne doit jamais pouvoir toucher `palier`,
-- `abonnement_expire_le` ou `statut` (rÃ©servÃ©s Ã  l'admin systÃ¨me, cf. RLS
-- existante qui n'expose aucune policy insert/update/delete sur cette table).
-- La liste de paramÃ¨tres de cette fonction EST la liste blanche des champs
-- modifiables, mÃªme garantie que creer_vente/regler_dette dÃ©jÃ  en place.
create or replace function public.update_entreprise_infos(
  p_nom varchar,
  p_adresse text,
  p_telephone varchar,
  p_email varchar,
  p_identification varchar,
  p_devise varchar
) returns void
language plpgsql security definer set search_path = public as $$
begin
  if public.current_role() <> 'admin_entreprise' then
    raise exception 'Non autorisÃ©';
  end if;

  if p_nom is null or length(trim(p_nom)) = 0 then
    raise exception 'Le nom est requis';
  end if;

  update public.entreprises
  set nom = trim(p_nom),
      adresse = nullif(trim(coalesce(p_adresse, '')), ''),
      telephone = nullif(trim(coalesce(p_telephone, '')), ''),
      email = nullif(trim(coalesce(p_email, '')), ''),
      identification = nullif(trim(coalesce(p_identification, '')), ''),
      devise = coalesce(p_devise, devise)
  where id = public.current_entreprise_id();
end;
$$;

-- Distincte de update_entreprise_infos : le logo se remplace seul (aperÃ§u +
-- bouton "Changer" dans /parametres) sans repasser par tout le formulaire, une
-- fonction sÃ©parÃ©e Ã©vite d'avoir Ã  rÃ©-envoyer les autres champs sous peine de
-- les Ã©craser Ã  null.
create or replace function public.update_entreprise_logo(
  p_logo_url text
) returns void
language plpgsql security definer set search_path = public as $$
begin
  if public.current_role() <> 'admin_entreprise' then
    raise exception 'Non autorisÃ©';
  end if;

  update public.entreprises
  set logo_url = p_logo_url
  where id = public.current_entreprise_id();
end;
$$;

-- Bucket public en lecture (le logo doit s'afficher sur des PDF et pages sans
-- session), Ã©criture restreinte Ã  son propre dossier <entreprise_id>/ pour
-- qu'une entreprise ne puisse jamais Ã©craser le logo d'une autre.
insert into storage.buckets (id, name, public)
values ('logos', 'logos', true)
on conflict (id) do nothing;

create policy "logos_public_select" on storage.objects
  for select using (bucket_id = 'logos');

create policy "logos_own_folder_insert" on storage.objects
  for insert with check (
    bucket_id = 'logos'
    and (storage.foldername(name))[1] = public.current_entreprise_id()::text
  );

create policy "logos_own_folder_update" on storage.objects
  for update using (
    bucket_id = 'logos'
    and (storage.foldername(name))[1] = public.current_entreprise_id()::text
  );

create policy "logos_own_folder_delete" on storage.objects
  for delete using (
    bucket_id = 'logos'
    and (storage.foldername(name))[1] = public.current_entreprise_id()::text
  );
-- Interdit qu'un compte de trÃ©sorerie qui n'est pas de type "banque" (caisse,
-- mobile_money) passe en solde nÃ©gatif â€” un point d'application unique en
-- BEFORE INSERT couvre tous les chemins d'Ã©criture existants (addEcritureTresorerie,
-- addCharge, et les RPC creer_achat/regler_dette qui insÃ¨rent directement en
-- SQL) sans avoir Ã  dupliquer le contrÃ´le dans chacun, mÃªme principe que le
-- trigger sync_stock_apres_mouvement (02_stock.sql) qui bloque dÃ©jÃ  un stock
-- nÃ©gatif. Un compte "banque" peut lÃ©gitimement aller Ã  dÃ©couvert â€” aucune
-- limite n'est imposÃ©e dans ce cas.
create or replace function public.verifier_solde_compte()
returns trigger language plpgsql as $$
declare
  v_type_compte varchar(20);
  v_solde numeric;
begin
  select type_compte, solde_initial into v_type_compte, v_solde
  from public.comptes_tresorerie
  where id = new.compte_tresorerie_id;

  if v_type_compte is distinct from 'banque' then
    select v_solde + coalesce(sum(case when type_mouvement = 'entree' then montant else -montant end), 0)
    into v_solde
    from public.journal_tresorerie
    where compte_tresorerie_id = new.compte_tresorerie_id;

    if new.type_mouvement = 'sortie' and (v_solde - new.montant) < 0 then
      raise exception 'Solde insuffisant sur ce compte (solde actuel : %, montant demandÃ© : %)', v_solde, new.montant;
    end if;
  end if;

  return new;
end;
$$;

create trigger trg_verifier_solde_compte
  before insert on public.journal_tresorerie
  for each row execute procedure public.verifier_solde_compte();
-- Annulation de vente/achat, avec rÃ©percussion correcte sur le stock, les
-- crÃ©ances/dettes et la trÃ©sorerie â€” la version prÃ©cÃ©dente d'annulerVente
-- (app/(dashboard)/ventes/actions.ts) se contentait de changer `statut` sans
-- rien rÃ©concilier, ce qui aurait laissÃ© le stock, les crÃ©ances/dettes et la
-- trÃ©sorerie faussÃ©s en permanence. Ce fichier corrige aussi un vrai bug
-- connexe : le coÃ»t moyen pondÃ©rÃ© (cout_unitaire) utilisÃ© par creer_vente
-- incluait les lignes d'achats dÃ©jÃ  annulÃ©s.

-- 1) Le trigger de solde plancher (migration 17) ne couvrait que les INSERT ;
-- l'Ã©tendre Ã  UPDATE pour qu'aucune modification directe d'une Ã©criture ne
-- puisse contourner la rÃ¨gle "un compte non-banque ne passe jamais au nÃ©gatif".
-- Le code applicatif privilÃ©gie delete+rÃ©insertion plutÃ´t qu'un UPDATE direct
-- (cf. updateEcritureTresorerie), mais le trigger reste la garantie ultime.
create or replace function public.verifier_solde_compte()
returns trigger language plpgsql as $$
declare
  v_type_compte varchar(20);
  v_solde numeric;
begin
  select type_compte, solde_initial into v_type_compte, v_solde
  from public.comptes_tresorerie
  where id = new.compte_tresorerie_id;

  if v_type_compte is distinct from 'banque' then
    select v_solde + coalesce(sum(case when type_mouvement = 'entree' then montant else -montant end), 0)
    into v_solde
    from public.journal_tresorerie
    where compte_tresorerie_id = new.compte_tresorerie_id
      and id is distinct from new.id;

    if new.type_mouvement = 'sortie' and (v_solde - new.montant) < 0 then
      raise exception 'Solde insuffisant sur ce compte (solde actuel : %, montant demandÃ© : %)', v_solde, new.montant;
    end if;
  end if;

  return new;
end;
$$;

drop trigger if exists trg_verifier_solde_compte on public.journal_tresorerie;
create trigger trg_verifier_solde_compte
  before insert or update on public.journal_tresorerie
  for each row execute procedure public.verifier_solde_compte();

-- 2) Corrige creer_vente : le coÃ»t moyen pondÃ©rÃ© doit ignorer les lignes
-- d'achats annulÃ©s, sinon le coÃ»t d'un achat annulÃ© continue de peser sur la
-- marge des ventes futures alors que ces unitÃ©s n'ont jamais Ã©tÃ© rÃ©ellement
-- acquises. Reste identique par ailleurs Ã  la version de la migration 10.
create or replace function public.creer_vente(
  p_magasin_id uuid,
  p_client_id uuid,
  p_mode_paiement varchar,
  p_montant_paye numeric,
  p_lignes jsonb
) returns uuid
language plpgsql as $$
declare
  v_vente_id uuid;
  v_montant_total numeric := 0;
  v_montant_restant numeric;
  v_ligne jsonb;
  v_cout_unitaire numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  if not public.can_write_magasin(p_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if jsonb_array_length(p_lignes) = 0 then
    raise exception 'Une vente doit comporter au moins une ligne';
  end if;

  select coalesce(sum((l->>'quantite')::numeric * (l->>'prix_unitaire')::numeric), 0)
  into v_montant_total
  from jsonb_array_elements(p_lignes) l;

  insert into public.ventes (magasin_id, client_id, mode_paiement, montant_total, montant_paye, statut, utilisateur_id)
  values (p_magasin_id, p_client_id, p_mode_paiement, v_montant_total, coalesce(p_montant_paye, 0), 'validee', v_utilisateur_id)
  returning id into v_vente_id;

  for v_ligne in select * from jsonb_array_elements(p_lignes) loop
    select coalesce(avg(la.prix_unitaire_achat), 0) into v_cout_unitaire
    from public.lignes_achat la
    join public.achats a on a.id = la.achat_id
    where la.article_id = (v_ligne->>'article_id')::uuid
      and la.magasin_id = p_magasin_id
      and a.statut = 'validee';

    insert into public.lignes_vente (vente_id, magasin_id, article_id, quantite, prix_unitaire, cout_unitaire)
    values (
      v_vente_id, p_magasin_id, (v_ligne->>'article_id')::uuid,
      (v_ligne->>'quantite')::numeric, (v_ligne->>'prix_unitaire')::numeric, v_cout_unitaire
    );

    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (p_magasin_id, (v_ligne->>'article_id')::uuid, 'sortie_vente', (v_ligne->>'quantite')::numeric, v_vente_id, 'vente', v_utilisateur_id);
  end loop;

  v_montant_restant := v_montant_total - coalesce(p_montant_paye, 0);

  if p_mode_paiement in ('credit', 'mixte') and v_montant_restant > 0 then
    insert into public.creances (magasin_id, client_id, vente_id, montant_initial, montant_restant, statut)
    values (p_magasin_id, p_client_id, v_vente_id, v_montant_restant, v_montant_restant, 'en_cours');
  end if;

  if coalesce(p_montant_paye, 0) > 0 then
    insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
    select p_magasin_id, ct.id, 'entree', p_montant_paye, 'vente', v_vente_id, 'vente', 'Encaissement vente', v_utilisateur_id
    from public.comptes_tresorerie ct
    where ct.magasin_id = p_magasin_id
    order by (ct.type_compte = 'caisse') desc, ct.id
    limit 1;
  end if;

  return v_vente_id;
end;
$$;

-- 3) annuler_vente : restaure le stock (mouvement compensatoire â€” jamais de
-- suppression physique de mouvements_stock, pour que le trigger
-- sync_stock_apres_mouvement recalcule stocks.quantite et que l'historique
-- reste complet), retire la crÃ©ance liÃ©e et l'Ã©criture de trÃ©sorerie liÃ©e,
-- puis marque la vente annulÃ©e. Bloque si la crÃ©ance a dÃ©jÃ  Ã©tÃ© rÃ©glÃ©e (mÃªme
-- partiellement) : annuler effacerait un rÃ¨glement bien rÃ©el du client.
create or replace function public.annuler_vente(p_vente_id uuid)
returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_statut varchar;
  v_ligne record;
  v_creance_id uuid;
  v_creance_initial numeric;
  v_creance_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, statut into v_magasin_id, v_statut
  from public.ventes where id = p_vente_id;

  if v_magasin_id is null then
    raise exception 'Vente introuvable';
  end if;
  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;
  if v_statut = 'annulee' then
    raise exception 'Cette vente est dÃ©jÃ  annulÃ©e';
  end if;

  select id, montant_initial, montant_restant into v_creance_id, v_creance_initial, v_creance_restant
  from public.creances where vente_id = p_vente_id;

  if v_creance_id is not null and v_creance_restant <> v_creance_initial then
    raise exception 'Cette crÃ©ance a dÃ©jÃ  fait l''objet d''un rÃ¨glement partiel ou total â€” annulation impossible';
  end if;

  for v_ligne in select article_id, quantite from public.lignes_vente where vente_id = p_vente_id loop
    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (v_magasin_id, v_ligne.article_id, 'ajustement_positif', v_ligne.quantite, p_vente_id, 'annulation_vente', v_utilisateur_id);
  end loop;

  if v_creance_id is not null then
    delete from public.creances where id = v_creance_id;
  end if;

  -- Retrait direct de l'Ã©criture (pas de contre-Ã©criture) : le solde de
  -- trÃ©sorerie est toujours recalculÃ© Ã  la volÃ©e par somme des lignes,
  -- contrairement au stock il n'y a ici aucun trigger dont on dÃ©pend pour
  -- maintenir un solde en cache â€” retirer l'Ã©criture erronÃ©e est plus simple
  -- et plus sÃ»r qu'une contre-Ã©criture qui doublerait l'historique sans
  -- bÃ©nÃ©fice de recalcul.
  delete from public.journal_tresorerie where reference_id = p_vente_id and reference_type = 'vente';

  update public.ventes set statut = 'annulee' where id = p_vente_id;
end;
$$;

-- 4) annuler_achat : symÃ©trique. Si une partie du stock entrÃ© par cet achat a
-- dÃ©jÃ  Ã©tÃ© revendue, le trigger sync_stock_apres_mouvement lÃ¨ve "Stock
-- insuffisant" sur le mouvement compensatoire et bloque l'annulation â€” c'est
-- le comportement voulu, on ne peut pas reprendre un stock dÃ©jÃ  sorti.
create or replace function public.annuler_achat(p_achat_id uuid)
returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_statut varchar;
  v_ligne record;
  v_dette_id uuid;
  v_dette_initial numeric;
  v_dette_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, statut into v_magasin_id, v_statut
  from public.achats where id = p_achat_id;

  if v_magasin_id is null then
    raise exception 'Achat introuvable';
  end if;
  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;
  if v_statut = 'annulee' then
    raise exception 'Cet achat est dÃ©jÃ  annulÃ©';
  end if;

  select id, montant_initial, montant_restant into v_dette_id, v_dette_initial, v_dette_restant
  from public.dettes where achat_id = p_achat_id;

  if v_dette_id is not null and v_dette_restant <> v_dette_initial then
    raise exception 'Cette dette a dÃ©jÃ  fait l''objet d''un rÃ¨glement partiel ou total â€” annulation impossible';
  end if;

  for v_ligne in select article_id, quantite from public.lignes_achat where achat_id = p_achat_id loop
    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (v_magasin_id, v_ligne.article_id, 'ajustement_negatif', v_ligne.quantite, p_achat_id, 'annulation_achat', v_utilisateur_id);
  end loop;

  if v_dette_id is not null then
    delete from public.dettes where id = v_dette_id;
  end if;

  delete from public.journal_tresorerie where reference_id = p_achat_id and reference_type = 'achat';

  update public.achats set statut = 'annulee' where id = p_achat_id;
end;
$$;
-- Ferme l'Ã©cart trouvÃ© en audit : les policies RLS UPDATE/DELETE sur
-- journal_tresorerie/creances/dettes/mouvements_stock ne vÃ©rifient que le
-- tenant/rÃ´le (can_write_magasin), pas si la ligne est liÃ©e Ã  une
-- vente/achat/rÃ¨glement â€” et aucune RPC (creer_vente, annuler_vente,
-- annuler_achat, regler_creance, regler_dette...) n'est security definer,
-- donc elles n'ont pas plus de droits qu'un appel direct du client Supabase.
-- Un gÃ©rant pouvait donc, en appelant directement le SDK (hors app), modifier
-- ou supprimer une ligne liÃ©e sans passer par annuler_vente/annuler_achat/
-- regler_creance/regler_dette, dÃ©synchronisant silencieusement stock/
-- trÃ©sorerie/crÃ©ances/dettes de la vente/achat/rÃ¨glement qui les a produites.
--
-- Ces triggers verrouillent ces tables au niveau base. Les RPC lÃ©gitimes qui
-- doivent transgresser (regler_creance, regler_dette, annuler_vente,
-- annuler_achat) posent un drapeau de session avant leur UPDATE/DELETE, via
-- set_config(..., is_local => true) : limitÃ© Ã  la transaction en cours, donc
-- automatiquement rÃ©initialisÃ© Ã  la fin de l'appel RPC (chaque appel RPC
-- s'exÃ©cute comme sa propre transaction cÃ´tÃ© PostgREST/Supabase) â€” aucune
-- fuite possible vers une requÃªte ultÃ©rieure sur la mÃªme connexion poolÃ©e.

-- Second correctif de l'audit, sans rapport avec les triggers ci-dessus :
-- annuler_vente/annuler_achat suppriment une ligne de journal_tresorerie par
-- (reference_id, reference_type) sans index dÃ©diÃ© â€” balayage complet de la
-- table (tous magasins/entreprises confondus) Ã  chaque annulation. NÃ©gligeable
-- au volume actuel, mais se dÃ©grade avec la table ; index partiel peu coÃ»teux
-- Ã  maintenir puisqu'il ne couvre que les lignes rÃ©ellement liÃ©es.
create index if not exists idx_journal_tresorerie_reference
  on public.journal_tresorerie(reference_id, reference_type)
  where reference_id is not null;

create or replace function public.verifier_pas_modif_directe_tresorerie()
returns trigger language plpgsql as $$
begin
  if coalesce(current_setting('app.bypass_lignes_liees', true), '') = 'on' then
    return coalesce(new, old);
  end if;

  if tg_op = 'UPDATE' then
    if old.reference_type is not null then
      raise exception 'Cette Ã©criture est liÃ©e Ã  une vente, un achat, une charge ou un rÃ¨glement â€” modifiez-la depuis son origine.';
    end if;
    return new;
  end if;

  -- DELETE : seules les Ã©critures manuelles (reference_type null) ou liÃ©es Ã 
  -- une charge (reference_type = 'charge', gÃ©rÃ©e directement par
  -- charges/actions.ts qui fait son propre delete+rÃ©insertion) sont
  -- supprimables hors RPC. Vente/achat/crÃ©ance/dette ne le sont jamais
  -- directement : uniquement via annuler_vente/annuler_achat.
  if old.reference_type is not null and old.reference_type <> 'charge' then
    raise exception 'Cette Ã©criture est liÃ©e Ã  une vente, un achat ou un rÃ¨glement â€” supprimez-la depuis son origine.';
  end if;
  return old;
end;
$$;

drop trigger if exists trg_proteger_journal_tresorerie on public.journal_tresorerie;
create trigger trg_proteger_journal_tresorerie
  before update or delete on public.journal_tresorerie
  for each row execute procedure public.verifier_pas_modif_directe_tresorerie();

create or replace function public.verifier_pas_modif_directe_creance_dette()
returns trigger language plpgsql as $$
begin
  if coalesce(current_setting('app.bypass_lignes_liees', true), '') = 'on' then
    return coalesce(new, old);
  end if;
  raise exception 'Cette opÃ©ration doit passer par le rÃ¨glement ou l''annulation de la vente/achat d''origine.';
end;
$$;

drop trigger if exists trg_proteger_creances on public.creances;
create trigger trg_proteger_creances
  before update or delete on public.creances
  for each row execute procedure public.verifier_pas_modif_directe_creance_dette();

drop trigger if exists trg_proteger_dettes on public.dettes;
create trigger trg_proteger_dettes
  before update or delete on public.dettes
  for each row execute procedure public.verifier_pas_modif_directe_creance_dette();

-- mouvements_stock : grand livre append-only, aucun code applicatif ni aucune
-- RPC ne modifie/supprime une ligne existante â€” toute correction passe par un
-- nouveau mouvement compensatoire (cf. annuler_vente/annuler_achat, migration
-- 18). Verrou inconditionnel, sans drapeau de contournement puisqu'aucun
-- chemin lÃ©gitime n'en a besoin.
create or replace function public.interdire_modif_mouvements_stock()
returns trigger language plpgsql as $$
begin
  raise exception 'Un mouvement de stock ne peut Ãªtre ni modifiÃ© ni supprimÃ© â€” utilisez un mouvement compensatoire.';
end;
$$;

drop trigger if exists trg_interdire_modif_mouvements_stock on public.mouvements_stock;
create trigger trg_interdire_modif_mouvements_stock
  before update or delete on public.mouvements_stock
  for each row execute procedure public.interdire_modif_mouvements_stock();

-- Les quatre RPC qui transgressent lÃ©gitimement : identiques Ã  leur derniÃ¨re
-- version (migrations 11 et 18), avec l'ajout du set_config juste avant leur
-- premier UPDATE/DELETE sur une table protÃ©gÃ©e ci-dessus.

create or replace function public.regler_creance(
  p_creance_id uuid,
  p_montant numeric,
  p_compte_tresorerie_id uuid
) returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, montant_restant into v_magasin_id, v_restant
  from public.creances where id = p_creance_id
  for update;

  if v_magasin_id is null then
    raise exception 'CrÃ©ance introuvable';
  end if;

  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if p_montant <= 0 or p_montant > v_restant then
    raise exception 'Montant de rÃ¨glement invalide (reste dÃ» : %)', v_restant;
  end if;

  perform set_config('app.bypass_lignes_liees', 'on', true);

  update public.creances
  set montant_restant = v_restant - p_montant,
      statut = case when v_restant - p_montant <= 0 then 'soldee' else 'en_cours' end
  where id = p_creance_id;

  insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
  values (v_magasin_id, p_compte_tresorerie_id, 'entree', p_montant, 'reglement_creance', p_creance_id, 'creance', 'RÃ¨glement crÃ©ance', v_utilisateur_id);
end;
$$;

create or replace function public.regler_dette(
  p_dette_id uuid,
  p_montant numeric,
  p_compte_tresorerie_id uuid
) returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, montant_restant into v_magasin_id, v_restant
  from public.dettes where id = p_dette_id
  for update;

  if v_magasin_id is null then
    raise exception 'Dette introuvable';
  end if;

  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;

  if p_montant <= 0 or p_montant > v_restant then
    raise exception 'Montant de rÃ¨glement invalide (reste dÃ» : %)', v_restant;
  end if;

  perform set_config('app.bypass_lignes_liees', 'on', true);

  update public.dettes
  set montant_restant = v_restant - p_montant,
      statut = case when v_restant - p_montant <= 0 then 'soldee' else 'en_cours' end
  where id = p_dette_id;

  insert into public.journal_tresorerie (magasin_id, compte_tresorerie_id, type_mouvement, montant, categorie, reference_id, reference_type, motif, utilisateur_id)
  values (v_magasin_id, p_compte_tresorerie_id, 'sortie', p_montant, 'reglement_dette', p_dette_id, 'dette', 'RÃ¨glement dette', v_utilisateur_id);
end;
$$;

create or replace function public.annuler_vente(p_vente_id uuid)
returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_statut varchar;
  v_ligne record;
  v_creance_id uuid;
  v_creance_initial numeric;
  v_creance_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, statut into v_magasin_id, v_statut
  from public.ventes where id = p_vente_id;

  if v_magasin_id is null then
    raise exception 'Vente introuvable';
  end if;
  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;
  if v_statut = 'annulee' then
    raise exception 'Cette vente est dÃ©jÃ  annulÃ©e';
  end if;

  select id, montant_initial, montant_restant into v_creance_id, v_creance_initial, v_creance_restant
  from public.creances where vente_id = p_vente_id;

  if v_creance_id is not null and v_creance_restant <> v_creance_initial then
    raise exception 'Cette crÃ©ance a dÃ©jÃ  fait l''objet d''un rÃ¨glement partiel ou total â€” annulation impossible';
  end if;

  for v_ligne in select article_id, quantite from public.lignes_vente where vente_id = p_vente_id loop
    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (v_magasin_id, v_ligne.article_id, 'ajustement_positif', v_ligne.quantite, p_vente_id, 'annulation_vente', v_utilisateur_id);
  end loop;

  perform set_config('app.bypass_lignes_liees', 'on', true);

  if v_creance_id is not null then
    delete from public.creances where id = v_creance_id;
  end if;

  delete from public.journal_tresorerie where reference_id = p_vente_id and reference_type = 'vente';

  update public.ventes set statut = 'annulee' where id = p_vente_id;
end;
$$;

create or replace function public.annuler_achat(p_achat_id uuid)
returns void
language plpgsql as $$
declare
  v_magasin_id uuid;
  v_statut varchar;
  v_ligne record;
  v_dette_id uuid;
  v_dette_initial numeric;
  v_dette_restant numeric;
  v_utilisateur_id uuid := auth.uid();
begin
  select magasin_id, statut into v_magasin_id, v_statut
  from public.achats where id = p_achat_id;

  if v_magasin_id is null then
    raise exception 'Achat introuvable';
  end if;
  if not public.can_write_magasin(v_magasin_id) then
    raise exception 'Non autorisÃ© pour ce magasin';
  end if;
  if v_statut = 'annulee' then
    raise exception 'Cet achat est dÃ©jÃ  annulÃ©';
  end if;

  select id, montant_initial, montant_restant into v_dette_id, v_dette_initial, v_dette_restant
  from public.dettes where achat_id = p_achat_id;

  if v_dette_id is not null and v_dette_restant <> v_dette_initial then
    raise exception 'Cette dette a dÃ©jÃ  fait l''objet d''un rÃ¨glement partiel ou total â€” annulation impossible';
  end if;

  for v_ligne in select article_id, quantite from public.lignes_achat where achat_id = p_achat_id loop
    insert into public.mouvements_stock (magasin_id, article_id, type_mouvement, quantite, reference_id, reference_type, utilisateur_id)
    values (v_magasin_id, v_ligne.article_id, 'ajustement_negatif', v_ligne.quantite, p_achat_id, 'annulation_achat', v_utilisateur_id);
  end loop;

  perform set_config('app.bypass_lignes_liees', 'on', true);

  if v_dette_id is not null then
    delete from public.dettes where id = v_dette_id;
  end if;

  delete from public.journal_tresorerie where reference_id = p_achat_id and reference_type = 'achat';

  update public.achats set statut = 'annulee' where id = p_achat_id;
end;
$$;
-- 20_fiche_entreprise.sql
alter table public.entreprises
  add column email varchar(255),
  add column identifiant_fiscal varchar(100),   -- NINEA, ou Ã©quivalent pays
  add column logo_url text;
-- 21_devises.sql
create table public.devises (
  code varchar(10) primary key,        -- ISO 4217 : XOF, MRU, MAD, GNF...
  nom varchar(100) not null,
  symbole varchar(10) not null
);

insert into public.devises (code, nom, symbole) values
  ('XOF', 'Franc CFA (UEMOA)', 'FCFA'),
  ('MRU', 'Ouguiya mauritanien', 'MRU'),
  ('MAD', 'Dirham marocain', 'DH'),
  ('GNF', 'Franc guinÃ©en', 'GNF');

alter table public.entreprises
  add constraint entreprises_devise_fkey foreign key (devise) references public.devises(code);
-- 22_palmares_clients.sql
create or replace function public.palmares_clients(
  p_magasin_id uuid,
  p_date_debut date,
  p_date_fin date,
  p_limite int default 20
) returns table (client_id uuid, client_nom text, nb_ventes bigint, montant_total numeric, derniere_visite timestamptz)
language sql stable as $$
  select c.id, c.nom, count(v.id), coalesce(sum(v.montant_total), 0), max(v.date_vente)
  from public.clients c
  join public.ventes v on v.client_id = c.id
  where v.magasin_id = p_magasin_id
    and v.statut = 'validee'
    and v.date_vente >= p_date_debut
    and v.date_vente < (p_date_fin + interval '1 day')
  group by c.id, c.nom
  order by montant_total desc
  limit p_limite
$$;
-- 23_projection_ventes.sql
create or replace function public.projection_ventes(
  p_magasin_id uuid,
  p_date_debut date,
  p_date_fin date,
  p_granularite text -- 'jour', 'semaine', 'mois'
) returns table (periode timestamp, montant_estime numeric)
language sql stable as $$
  -- V1 : Moyenne mobile simple sur les 3 derniÃ¨res pÃ©riodes Ã©quivalentes
  -- Pour une vraie projection, il faudrait l'implÃ©menter cÃ´tÃ© client/API
  -- avec une librairie de rÃ©gression, ou Ã©tendre le SQL
  -- Ici, on retourne simplement un squelette pour l'UI
  with historique as (
    select periode, montant_total
    from public.ventes_par_periode(p_magasin_id, p_date_debut, p_date_fin, p_granularite)
  ),
  stats as (
    select avg(montant_total) as moyenne_recent from historique
  )
  select 
    -- 3 pÃ©riodes de projection
    generate_series(
      (p_date_fin + interval '1 day')::timestamp,
      (p_date_fin + interval '3 day')::timestamp, -- simplifiÃ©
      '1 day'::interval
    ) as periode,
    (select moyenne_recent from stats) as montant_estime;
$$;
